{% extends "base.html" %}

{% block title %}Tag: {{ tag.name }}{% endblock title %}

{% block content %}
<div>
  <h1 class="display-4">Tag: {{ tag.name|capitalize }}</h1>
  <div class="row">
    <h1 class="display-6">Articles with this tag</h1>
    {% for article in tag.articles %}
      <div class="card col-6" style="width: 18rem;" id="{{ article.id }}">
        <div class="card-body">
          <h5 class="card-title">Article #{{ article.id }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <a href="{{ url_for('article.article_details', pk=article.id) }}">
              {{ article.title|capitalize }}</a></h6>
          <p class="card-text">{{ article.body }}</p>
          <div>Published {{ article.created_at.strftime("%d.%m.%Y %H:%M") }}</div>
          <div>Author 
            <a href="{{ url_for('user.profile', pk=article.author.user.id) }}" 
              class="card-link">{{ article.author.user.username }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}